@import url(./explore.css);
@import url(./accaunts.css);
@import url(./header.css);
@import url(./direct.css);
@import url(./profil.css);
@import url(./setting.css);
@import url(./post.css);
@import url(./show.css);

:root {
  --back-color: #000;
  --box-shadow-color-first: #ffffff73;
  --box-shadow-color-second: rgba(94, 104, 121, 0.288);
  --background-color: rgb(222, 226, 232);
  --white: #000;
  --other-color: teal;
}
/* :root {
  --back-color: #000;
  --box-shadow-color-first: #3e3e3e;
  --box-shadow-color-second: #030303;
  --background-color: #181818;
  --white: #000;
  --other-color: teal;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: var(--background-color);


}

section {
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 10px;
  overflow-x: hidden;
}
section > .container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5px;
}
section > .container > .content {
  max-width: 100%;
  height: 100%;
}
section > .container > .content > .content_header {
  max-width: 780px;
  height: 80px;
  box-shadow: inset 2px 2px 5px var(--box-shadow-color-second),
    inset -2px -2px 5px var(--box-shadow-color-first);
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow-x: hidden; /* scroll */
  overflow-y: hidden;
  margin-top: 5px;
}
section > .container > .content > .content_header > .content_header_item {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: inset 2px 2px 5px var(--box-shadow-color-second),
  inset -2px -2px 5px var(--box-shadow-color-first);
  margin: 0 10px;
  border: 2px solid rgb(18, 195, 162);
}
section > .container > .content > .content_main {
  width: 100%;
  height: 100%;

}
section > .container > .content > .content_main > .content_main_item {
  max-width: 780px;
  height: 980px;
  box-shadow: inset 2px 2px 5px var(--box-shadow-color-second),
  inset -2px -2px 5px var(--box-shadow-color-first);
  margin-top: 10px;
  border-radius: 10px;
}

section
  > .container
  > .content
  > .content_main
  > .content_main_item
  .content_main_item_header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

section
  > .container
  > .content
  > .content_main
  > .content_main_item
  .content_main_item_header
  > .content_main_item_header_logo {
  width: 45px;
  height: 45px;
  background-color: var(--background-color);

  border-radius: 50%;
}

section
  > .container
  > .content
  > .content_main
  > .content_main_item
  .content_main_item_header
  > .content_main_item_header_text {
  margin-left: 10px;
}

section
  > .container
  > .content
  > .content_main
  > .content_main_item
  > .content_main_item_photo {
  width: 100%;
  height: 780px;
  /* background-color: var(--background-color); */
  box-shadow: inset 2px 2px 15px var(--box-shadow-color-second),
    inset -2px -2px 5px var(--box-shadow-color-first);

  /* padding: 10px; */
}
/* section
  > .container
  > .content
  > .content_main
  > .content_main_item
  > .content_main_item_photo 
  > img{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    object-fit: fill;

    border-radius: 20px;
  
  } */

.action {
  width: 100%;
  height: 50px; /*80 - 50 = 30 + 20*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action > .left {
  width: 150px;
  margin: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action > .left > .like,
.action > .left > .comment,
.action > .left > .repost,
.action > .save {
  width: 40px;
  height: 40px;
  background-color: #cde8ff;
  border-radius: 50%;
}

.action > .left > .comment > img,
.action > .left > .like > img,
.action > .left > .repost > img,
.action > .save > img
{
  cursor: pointer;
}

.action > .left > .comment,
.action > .left > .like,
.action > .left > .repost,
.action > .save 
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.action > .save {
  margin: 0 10px;
}

.opisaniye, .likeCount {
  width: 100%;
  height: 30px;
  padding: 0 10px;
}
.likeCount{
  height: 20px;
}

.opisaniye > p{
  color: #8a8a8a;
}
.opisaniye > p > span{
  color: black;
}

.commentAll{
  width: 100%;
  height: 30px;
  padding: 0 10px;
}

/* sidebar */
section > .container > .sidebar {
  width: 100%;
  height: calc(100vh - 90px);
  margin: 10px;
  box-shadow: 1px 1px 5px var(--box-shadow-color-second),
    -1px -1px 5px var(--box-shadow-color-second);
  border-radius: 10px;
}
section > .container > .sidebar > .sidebar_content_accaunt {
  width: calc(100% - 20px);
  border-radius: 10px;
  height: 70px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

    margin: 10px;
}

section
  > .container
  > .sidebar
  > .sidebar_content_accaunt
  > .sidebar_content_accaunt_logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #cde8ff;
}

section
  > .container
  > .sidebar
  > .sidebar_content_accaunt
  > .sidebar_content_accaunt_text {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

section
  > .container
  > .sidebar
  > .sidebar_content_accaunt
  > .sidebar_content_switch {
  color: #007bff;
  cursor: pointer;
}
section
  > .container
  > .sidebar
  > .sidebar_content_accaunt
  > .sidebar_content_switch
  > a
  {
    text-decoration: none;
  }

  .content_main_item_header_text_login,.sidebar_content_accaunt_text_login{
    display: flex;
    align-items: center;
  }

section > .container > .sidebar > .sidebar_recommendations {
  width: calc(100% - 20px);
  height: calc(100% - 100px);
  box-shadow: inset 2px 2px 5px var(--box-shadow-color-second),
  inset -2px -2px 5px var(--box-shadow-color-first);
  margin: 10px;
  border-radius: 10px;
}

section
  > .container
  > .sidebar
  > .sidebar_recommendations
  > .sidebar_recommendations_header {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

section
  > .container
  > .sidebar
  > .sidebar_recommendations
  > .sidebar_recommendations_content
  > .sidebar_recommendations_content_item,
  .showRes
  > .sidebar_recommendations_content_item
  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 3px;
}

section
  > .container
  > .sidebar
  > .sidebar_recommendations
  > .sidebar_recommendations_content
  > .sidebar_recommendations_content_item
  > .sidebar_recommendations_content_item_accaunt,
  .showRes
  > .sidebar_recommendations_content_item
  > .sidebar_recommendations_content_item_accaunt {
  display: flex;
  align-items: center;
}

section
  > .container
  > .sidebar
  > .sidebar_recommendations
  > .sidebar_recommendations_content
  > .sidebar_recommendations_content_item
  > .sidebar_recommendations_content_item_accaunt
  > .sidebar_recommendations_content_item_logo 
  ,
  .showRes
  > .sidebar_recommendations_content_item
  > .sidebar_recommendations_content_item_accaun
  > .sidebar_recommendations_content_item_logo 

  {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background-color);

  margin-right: 5px;
}
.sidebar_recommendations_content_item_text_login{
  width: 100%;
  display: flex;
  align-items: center;
}
section
  > .container
  > .sidebar
  > .sidebar_recommendations
  > .sidebar_recommendations_header
  > .sidebar_recommendations_header_text1 {
  color: #8a8a8a;
}
section
  > .container
  > .sidebar
  > .sidebar_recommendations
  > .sidebar_recommendations_content
  > .sidebar_recommendations_content_item
  > .sidebar_recommendations_content_fallow
  ,
  .profil_header > .profil_text > .profil_row1 > span
  ,
  .showRes
  > .sidebar_recommendations_content_item
  > .sidebar_recommendations_content_fallow
   {
  color: #007bff;
  padding: 5px 10px;
  cursor: pointer;
}

.sidebar_recommendations_content_unfallow{
  color: #303030;
  padding: 5px 10px;
  border-radius: 10px;
}

@media screen and (max-width: 1100px) {
  section > .container {
    width: 100vw;
    display: flex;
  }

section

  > .container

  > .content
  > .content_main
  > .content_main_item
  > .content_main_item_photo{
      height: 100vw;
  }

section

  > .container

  > .content
  > .content_main
  > .content_main_item {
      height: calc(100vw + 200px);
  }

  section > .container > .content {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  section > .container > .sidebar {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  header > .header_content > .search {
    display: none;
  }
  section > .container > .content {
    max-width: 100%;
    margin: 0 auto;
  }
}
